@font-face {
  font-family: 'OTEnjoystoriesBA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2') format('woff2'),
    url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff') format('woff'),
    url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf') format('opentype');
}
@font-face {
  font-family: tvN Enjoystories;
  src: url(../img/tvN\ Enjoystories\ Bold.ttf);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
body {
  width: 100%;
  height: 1917px;
  text-align: center;
  background-color: rgba(91, 35, 134, 1);
}
a {
  text-decoration: none;
}
header {
  position: relative;
  display: grid;
  place-items: center;
}
header .hoursLaw {
  position: relative;
  display: grid;
  place-items: center;
}
header .hoursLaw img:nth-child(1) {
  position: absolute;
  text-align: center;
  height: 112px;
  top: 194px;
}
header .hoursLaw img:nth-child(2) {
  position: absolute;
  text-align: center;
  height: 265px;
  top: 120px;
}
header h2 {
  position: absolute;
  width: 486px;
  height: 40px;
  top: 431px;
  font-family: 'tvN Enjoystories';
  font-size: 36px;
  font-weight: 700;
  line-height: 39.6px;
  text-align: center;
  color: rgba(245, 223, 77, 1);
}
main {
  position: relative;
  display: grid;
  place-items: center;
}
.wiseWord {
  position: relative;
  display: grid;
  place-items: center;
}
.wiseWord div:nth-child(1) {
  position: absolute;
  width: 493px;
  height: 96px;
  top: 562px;
  background-image: url(../img/quotes.png);
  background-repeat: no-repeat;
}
.wiseWord div:nth-child(2) {
  position: absolute;
  width: 375px;
  height: 85px;
  top: 549px;
}
.wiseWord div span:nth-child(1) {
  font-family: 'GmarketSansBold';
  display: inline;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.wiseWord div span:nth-child(2) {
  font-family: 'GmarketSansMedium';
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.programing {
  position: absolute;
  height: 57px;
  top: 736px;
}
.programing span:nth-child(1) {
  width: 47px;
  height: 24px;
  top: 753px;
  font-family: 'GmarketSansMedium';
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin: 0 17px 17px 16px;
  color: rgba(255, 255, 255, 1);
}
.programing input {
  width: 228px;
  height: 57px;
  box-sizing: border-box;
  top: 736px;
  border: 1px solid #ffffff;
  border-radius: 7px;
  background: rgba(255, 255, 255, 1);
}
.programing input::placeholder {
  width: 148px;
  height: 24px;
  top: 753px;
  left: 100px;
  font-family: 'GmarketSansMedium';
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgba(186, 188, 190, 1);
}
.programing span:nth-child(3) {
  width: 205px;
  height: 24px;
  top: 837px;
  left: 1012px;
  margin: 17px 22px 0 11px;
  font-family: 'GmarketSansMedium';
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.time {
  position: absolute;
  height: 57px;
  top: 820px;
}
.time span:nth-child(1) {
  width: 275px;
  height: 24px;
  top: 820px;
  margin: 0px 17px 17px 16px;
  font-family: 'GmarketSansMedium';
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.time input {
  width: 228px;
  height: 57px;
  top: 820px;
  border-radius: 7px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 1);
}
.time input::placeholder {
  width: 94px;
  height: 24px;
  top: 820px;
  font-family: 'GmarketSansMedium';
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgba(186, 188, 190, 1);
}
.time span:nth-child(3) {
  width: 228px;
  height: 24px;
  top: 820px;
  margin: 17px 17px 0 16px;
  font-family: 'GmarketSansMedium';
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.clickHand {
  position: absolute;
  height: 57px;
  top: 992px;
}
.clickHand div {
  display: inline-block;
  box-sizing: border-box;
  top: 992px;
  padding: 21px 49px 21px 49px;
  gap: 10px;
  border-radius: 56px;
  background: rgba(252, 238, 33, 1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.clickHand div p {
  height: 24px;
  top: 1013px;
  font-family: 'GmarketSansMedium';
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: rgba(91, 35, 134, 1);
}
.clickHand > img {
  width: 41px;
  height: 53px;
  top: 1006px;
  transform: rotate(19.08deg);
  height: 72px;
  color: rgba(252, 238, 33, 1);
}
.yourDay {
  position: absolute;
  height: 72px;
  top: 1205px;
}
.yourDay .forYou {
  width: Hug (663px) px;
  height: Hug (72px) px;
  top: 1205px;
  gap: 12px;
}
.yourDay .forYou span:nth-child(1) {
  top: 1229px;
  margin: 0 24px 12px 24px;
  height: 24px;
  font-family: 'GmarketSansMedium';
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.yourDay .forYou span:nth-child(2) {
  top: 1205px;
  height: 72px;
  font-family: 'GmarketSansBold';
  font-size: 72px;
  font-weight: 700;
  line-height: 72px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.yourDay .forYou span:nth-child(3) {
  height: 24px;
  top: 1229px;
  font-family: 'GmarketSansMedium';
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.yourDay .day5110 {
  position: absolute;
  height: 72px;
  margin-top: 17px;
}
.yourDay .day5110 span:nth-child(1) {
  top: 1318px;
  height: 24px;
  font-family: 'GmarketSansMedium';
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.yourDay .day5110 span:nth-child(2) {
  top: 1294px;
  height: 72px;
  font-family: 'GmarketSansBold';
  font-size: 72px;
  font-weight: 700;
  line-height: 72px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.yourDay .day5110 span:nth-child(3) {
  top: 1318px;
  height: 24px;
  font-family: Gmarket Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.goButton {
  position: absolute;
  height: 57px;
  top: 1493px;
}
.goButton .btn {
  margin-right: 18px;
  width: Hug (356px) px;
  height: Hug (66px) px;
  top: 1493px;
  padding: 21px 49px 21px 49px;
  gap: 10px;
  border-radius: 56px;
  background: rgba(252, 238, 33, 1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.goButton span {
  top: 1514px;
  height: 24px;
  font-family: 'GmarketSansBold';
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: rgba(91, 35, 134, 1);
}
.goButton .sharing {
  top: 1493px;
  width: Hug (200px) px;
  padding: 21px 49px 21px 49px;
  gap: 10px;
  border-radius: 56px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.goButton span {
  top: 1514px;
  height: 24px;
  font-family: 'GmarketSansBold';
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: right;
  color: rgba(91, 35, 134, 1);
}
footer {
  position: relative;
  display: grid;
  place-items: center;
}
.logo {
  top: 1689px;
  position: absolute;
  height: 25px;
}
.logo img {
  width: 125px;
  height: 25px;
  margin-bottom: 20px;
}
.logo p {
  top: 1734px;
  height: 34px;
  font-family: 'Noto Sans KR';
  font-size: 12px;
  font-weight: 400;
  line-height: 17.38px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

/* modal */

.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: none;
}
.modal:target {
  display: block;
}

.modal-content {
  background-color: rgba(255, 255, 255, 1);
  width: 800px;
  height: 800px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: slidefade 0.35s linear;
}
.modal-content h2 {
  position: absolute;
  top: 76px;
  left: 202px;
  width: 396px;
  height: 106px;
  font-family: tvN Enjoystories;
  font-size: 96px;
  font-weight: 700;
  line-height: 105.6px;
  text-align: center;
}
.modal-content p {
  position: absolute;
  top: 186px;
  width: 233px;
  height: 40px;
  top: 186px;
  left: 284px;
  font-family: 'tvN Enjoystories';
  font-size: 36px;
  font-weight: 700;
  line-height: 39.6px;
  text-align: center;
  color: rgba(91, 35, 134, 1);
}
.modal-content img {
  position: absolute;
  top: 255px;
  width: 433px;
  height: 337px;
  left: 184px;
  box-sizing: border-box;
  padding: 4px 1.04px 0px 2px;
}
.btn-go {
  position: absolute;
  top: 666px;
  left: 146px;
  height: 66px;
  box-sizing: border-box;
  padding: 21px 49px 21px 49px;
  gap: 10px;
  border-radius: 56px;
  background-color: rgba(252, 238, 33, 1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.btn-go span {
  display: inline-block;
  top: 687px;
  height: 24px;
  font-family: 'GmarketSansBold';
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: rgba(91, 35, 134, 1);
}

@keyframes slidefade {
  0% {
    opacity: 0;
    margin-top: -100px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
